%table.table.mt-3
  %thead
    %tr
      %th Date
      %th{colspan: 2}

  %tbody
    - menus.each do |menu|
      %tr
        %td= menu_date(menu)
        %td= link_to 'Show', admins_food_menu_path(menu)
        %td= link_to 'Edit', edit_admins_food_menu_path(menu)