%p
  %b Date:
  = menu_date(@menu)

= render 'food/categories/collection', locals: { categories: @menu.categories }

= link_to 'Edit', edit_admins_food_menu_path(@menu)
\|
= link_to 'Back', admins_food_menus_path
