.container.error
  %h1.error__title 404
  %p The page you were looking for doesn't exist. You may have mistyped the address or the page may have moved.</p>
  = link_to 'Go to homepage', root_path, class: 'btn btn-primary'