.container.error
  %h1.error__title 422
  %p The change you wanted was rejected. Maybe you tried to change something you didn't have access to.
  = link_to 'Go to homepage', root_path, class: 'btn btn-primary'