%H1 Order

= render 'food/items/collection', locals: { items: @order.food_items }

%p
  %b Total price:
  %span= @order.total_cost.format

%p
  %b Customer
  %span= link_to @order.customer.email, admins_user_path(@order.customer)

= link_to 'Back', admins_orders_path
